doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="robots", content="noindex,nofollow")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="format-detection",content="telephone=no")
        title マーケティング
        meta(name="description", content="")
        meta(name="keywords", content="")
        //- og 設置
        meta(property="og:site_name", content="")
        meta(property="og:title", content="")
        meta(property="og:description", content="")
        meta(property="og:type", content="website")
        meta(property="og:url", content="")
        meta(property="og:image", content="")
        meta(property="fb:app_id", content="" )
        link(rel="icon", sizes="32x32", href="./dist/snsmarketing/common/favicon.png")
        link(rel="stylesheet", href="./dist/css/theme.css")
        link(rel="stylesheet", href="./dist/css/font-awesome.css")
        link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css",integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T",crossorigin="anonymous")
        link(rel="stylesheet", href="./dist/css/pages-marketing.css")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous", defer)
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous", defer)
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous", defer)
        script(src="./lib/js/app.js", type="text/javascript", charset="utf-8", defer)
    body.page-template.page-template-page-company.page-template-page-company-php.center-nav.top-bar.no-titl
      aside#side-nav.w-text-light
        .side-nav-wrapper
          .w-scroller
            .w-wrapper(style="max-height: 678px; overflow: hidden;")
              .w-content-inner(style="transform: translateZ(0px);")
                nav#vertical-nav.menu-header_navivertical-container(style="height: 280px;")
                  ul#menu-header_navivertical.vertical-menu
                    li#menu-item-68.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-68
                      a(href="#")
                        | コンテンツ
                        span
                      ul.sub-menu(style="top: 0px; display: none;")
                        li#menu-item-597.back-to-parent.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-597
                          a(href="#")
                            span 戻る
                        li#menu-item-595.menu-item.menu-item-type-post_type_archive.menu-item-object-topics.menu-item-595
                          a(href="https://www.base-net.co.jp/topics") News&Release
                        li#menu-item-984.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-984.menu-item-page-blog
                          a(href="https://www.base-net.co.jp/blog") BLOG
                    li#menu-item-993.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-993
                      a(href="#")
                        | 制作実績
                        span
                      ul.sub-menu(style="top: -40px; display: none;")
                        li#menu-item-994.back-to-parent.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-994
                          a(href="#")
                            span 戻る
                        li#menu-item-586.menu-item.menu-item-type-taxonomy.menu-item-object-foliocategory.menu-item-586.menu-item-foliocategory-web
                          a(href="https://www.base-net.co.jp/foliocategory/web") WEB制作
                        li#menu-item-587.menu-item.menu-item-type-taxonomy.menu-item-object-foliocategory.menu-item-587.menu-item-foliocategory-graphic
                          a(href="https://www.base-net.co.jp/foliocategory/graphic") グラフィック
                        li#menu-item-588.menu-item.menu-item-type-taxonomy.menu-item-object-foliocategory.menu-item-588.menu-item-foliocategory-lineat
                          a(href="https://www.base-net.co.jp/foliocategory/lineat") LINE@
                    li#menu-item-73.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-73
                      a(href="#")
                        | ソリューション
                        span
                      ul.sub-menu(style="top: -80px; display: none;")
                        li#menu-item-733.back-to-parent.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-733
                          a(href="#")
                            span 戻る
                        li#menu-item-732.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-732.menu-item-page-websupport
                          a(href="https://www.base-net.co.jp/websupport") ウェブ運用サポート
                        li#menu-item-731.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-731.menu-item-page-linesupport
                          a(href="https://www.base-net.co.jp/linesupport") LINE@運用サポート
                        li#menu-item-1692.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-1692
                          a(href="http://www.sumake.net/") スマケ！
                        li#menu-item-991.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-991
                          a(target="_blank" href="http://bridal-kensaku.com/") ラブマリ
                    li#menu-item-589.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-559.current_page_item.menu-item-589.menu-item-page-company
                      a(href="https://www.base-net.co.jp/company") 会社案内
                    li#menu-item-736.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-736.menu-item-page-business
                      a(href="https://www.base-net.co.jp/business") 事業内容
                    li#menu-item-590.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-590.menu-item-page-contact
                      a(href="https://www.base-net.co.jp/contact") お問い合わせ
                    li#menu-item-992.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-992
                      a(target="_blank" href="/recruit/") 採用情報
            .w-scrollbar(style="display: none;")
              .w-bar(style="transform: translateZ(0px) translateY(0px); height: 672px;")
                .w-holder

      header#header.w-light.w-sticky.w-full.w-transparent.w-text-light
        #top-bar
          .container
            .top-bar-left
              .header-topbar-logo
                a(href="https://www.base-net.co.jp//")
                  img(src="https://www.base-net.co.jp/wp/wp-content/themes/baseone/assets/snsmarketing/logo/logo.svg" alt="ベイス")
            .top-bar-right
              ul#menu-header_navitop.contact-info
                li#menu-item-923.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-559.current_page_item.menu-item-923.menu-item-page-company
                  a(href="https://www.base-net.co.jp/company") 会社案内
                li#menu-item-737.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-737.menu-item-page-business
                  a(href="https://www.base-net.co.jp/business") 事業内容
                li#menu-item-886.recruitbtn.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-886
                  a(target="_blank" href="http://base-net.co.jp/recruit/") 採用情報

        .container.menubar
          span.mobile-nav-icon
            i.menu-icon
          span#header-logo
            a(href="https://www.base-net.co.jp//")
              img.dark-logo(src="https://www.base-net.co.jp/wp/wp-content/themes/baseone/assets/snsmarketing/logo/logo.svg" alt="BASE ベイス")
              img.dark-sticky(src="https://www.base-net.co.jp/wp/wp-content/themes/baseone/assets/snsmarketing/logo/logo.svg" alt="BASE ベイス")
          nav#top-nav.dropdown-nav
            ul#menu-header_navi.top-menu
              li#menu-item-61.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-61
                a(href="#") コンテンツ
                ul.sub-menu
                  li#menu-item-592.menu-item.menu-item-type-post_type_archive.menu-item-object-topics.menu-item-592
                    a(href="https://www.base-net.co.jp/topics") News&Release
                  li#menu-item-983.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-983.menu-item-page-blog
                    a(href="https://www.base-net.co.jp/blog") BLOG
              li#menu-item-582.menu-item.menu-item-type-taxonomy.menu-item-object-foliocategory.menu-item-582.menu-item-foliocategory-web
                a(href="https://www.base-net.co.jp/foliocategory/web") WEB制作
              li#menu-item-583.menu-item.menu-item-type-taxonomy.menu-item-object-foliocategory.menu-item-583.menu-item-foliocategory-graphic
                a(href="https://www.base-net.co.jp/foliocategory/graphic") グラフィック制作
              li#menu-item-584.menu-item.menu-item-type-taxonomy.menu-item-object-foliocategory.menu-item-584.menu-item-foliocategory-lineat
                a(href="https://www.base-net.co.jp/foliocategory/lineat") LINE@
              li#menu-item-66.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-66
                a(href="#") ソリューション
                ul.sub-menu
                  li#menu-item-730.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-730.menu-item-page-websupport
                    a(href="https://www.base-net.co.jp/websupport") ウェブ運用サポート
                  li#menu-item-729.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-729.menu-item-page-linesupport
                    a(href="https://www.base-net.co.jp/linesupport") LINE@運用サポート
                  li#menu-item-1693.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-1693
                    a(target="_blank" href="http://www.sumake.net/") スマケ！
                  li#menu-item-998.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-998
                    a(target="_blank" href="http://bridal-kensaku.com/") ラブマリ
              li#menu-item-585.topmlbtn.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-585.menu-item-page-contact
                a(href="https://www.base-net.co.jp/contact") お問い合わせ

      #snsmarketing
        script.
          (function(d) {
            var config = {
              kitId: 'fgr1qsi',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
          })(document);

        #content
        //- 空のtop title
        .container.page-toptitle

        //- メイン
        .main-content.full-width.no-sidebar
            section.w-section.no-padding.contactpage
                .row
                  .col.col-12
                    ul.breadcrumb-list
                      li
                        a(href="https://www.base-net.co.jp/") HOME
                      i.fa.fa-angle-double-right
                      li &nbsp;

                .p-section-01
                  .row
                    .col.col-12
                      h1.text-center
                        p.mb0
                          picture
                            source(srcset="./dist/snsmarketing/pc/section01_img_01.jpg", media="(min-width: 768px)")
                            img(src="./dist/snsmarketing/sp/section01_img_01.jpg", class="img-fluid", alt="SNSマーケティングで新規リード顧客獲得")

                .p-section-02
                  .row.justify-content-center
                    .col.col-12.col-md-11
                      .c-corner__title
                        h2.text-center
                          picture
                            source(srcset="./dist/snsmarketing/pc/section02_title_01.png", media="(min-width: 768px)")
                            img(src="./dist/snsmarketing/sp/section02_title_01.png", class="img-fluid", alt="ご存知ですか？")

                      .c-corner__body
                        .row
                          .col.col-12
                            .row
                              .col-12.col-md-5.c-corner__figure
                                picture
                                  source(srcset="./dist/snsmarketing/pc/section02_img_01.png", media="(min-width: 768px)")
                                  img(src="./dist/snsmarketing/sp/section02_img_01.png", class="img-fluid", alt="65%の人はGoogle、Yahoo!に加えSNSで検索しています。")
                              .col-12.col-md-5.offset-md-1.c-corner__figure
                                picture
                                  source(srcset="./dist/snsmarketing/pc/section02_img_02.png", media="(min-width: 768px)")
                                  img(src="./dist/snsmarketing/sp/section02_img_02.png", class="img-fluid", alt="70%の人はSNSの投稿をきっかっけに購入を決めたことがあります。")

                .p-section-03
                  span.p-section_upper
                  span.p-section_downer
                  .row
                    .col.col-12
                      .c-corner__title
                        h2.text-center
                          picture
                            source(srcset="./dist/snsmarketing/pc/section03_title_01.png", media="(min-width: 768px)")
                            img(src="./dist/snsmarketing/sp/section03_title_01.png", class="img-fluid", alt="SNS運用に必要なもの全部まるっとお任せ！")
                      .c-corner__figure
                        picture
                          source(srcset="./dist/snsmarketing/pc/section03_img_01.png", media="(min-width: 768px)")
                          img(src="./dist/snsmarketing/sp/section03_img_01.png", class="img-fluid", alt="SNS運用に必要なもの全部まるっとお任せ！")

                .p-section-04
                  .row
                    .col.col-12
                      .c-corner__title
                        h2
                          picture
                            source(srcset="./dist/snsmarketing/pc/section04_title_01.png", media="(min-width: 768px)")
                            img(src="./dist/snsmarketing/sp/section04_title_01.png", class="img-fluid", alt="＼ 当社におまかせいただくと／")
                      .d-flex.flex-wrap.justify-content-center.c-detail__parent
                        dl.list-unstyled.c-detail__list.d-inline-flex.flex-wrap
                          dt
                            img(src="./dist/snsmarketing/common/section04_num_1.png", alt="できること１")
                          dd.d-flex.d-md-block.align-items-center
                            picture
                              source(srcset="./dist/snsmarketing/pc/section04_img_01.png", media="(min-width: 768px)")
                              img(src="./dist/snsmarketing/sp/section04_img_01.png", class="img-fluid", alt="ゴールまで確実にフォロワーを誘導します。")

                        dl.list-unstyled.c-detail__list.d-inline-flex.flex-wrap
                          dt
                            img(src="./dist/snsmarketing/common/section04_num_2.png", alt="できること2")
                          dd.d-flex.d-md-block.align-items-center
                            picture
                              source(srcset="./dist/snsmarketing/pc/section04_img_02.png", media="(min-width: 768px)")
                              img(src="./dist/snsmarketing/sp/section04_img_02.png", class="img-fluid", alt="継続可能な運用体制を構築します。")

                        dl.list-unstyled.c-detail__list.d-inline-flex.flex-wrap
                          dt
                            img(src="./dist/snsmarketing/common/section04_num_3.png", alt="できること3")
                          dd.d-flex.d-md-block.align-items-center
                            picture
                              source(srcset="./dist/snsmarketing/pc/section04_img_03.png", media="(min-width: 768px)")
                              img(src="./dist/snsmarketing/sp/section04_img_03.png", class="img-fluid", alt="お客さまの成功体験を創出します。")

                .p-section-05
                  span.p-section_upper
                  span.p-section_downer
                  .row
                    .col.col-12
                      .c-corner__title.text-center
                        h2
                          picture
                            source(srcset="./dist/snsmarketing/pc/section05_title_01.png", media="(min-width: 768px)")
                            img(src="./dist/snsmarketing/sp/section05_title_01.png", class="img-fluid", alt="お願い 当社への丸投げでは絶対うまくいかない！")


                      .c-corner__body
                        .c-corner__figure.text-center
                          picture
                            source(srcset="./dist/snsmarketing/pc/section05_img_01.png", media="(min-width: 768px)")
                            img(src="./dist/snsmarketing/sp/section05_img_01.png", class="img-fluid", alt="当社の運用サポート+御社の積極参加=成功!")

                        p.mb0.warning
                          picture
                            source(srcset="./dist/snsmarketing/pc/section05_setence_01.png", media="(min-width: 768px)")
                            img(src="./dist/snsmarketing/sp/section05_setence_01.png", class="img-fluid", alt="＼ 当社におまかせいただくと／")

                .p-section-06
                  .row
                    .col.col-12.col-md-8.offset-md-2
                      .c-corner__title
                        h2.text-center
                          picture
                            source(srcset="./dist/snsmarketing/pc/section06_title_01.png", media="(min-width: 768px)")
                            img(src="./dist/snsmarketing/sp/section06_title_01.png", class="img-fluid", alt="＼ 海外向けSNS運用もおまかせ！／")
                    .col.col-12.col-md-10.offset-md-1
                      .c-corner__body
                        .c-body__title.text-center
                          picture
                            source(srcset="./dist/snsmarketing/pc/section06_title_02.png", media="(min-width: 768px)")
                            img(src="./dist/snsmarketing/sp/section06_title_02.png", class="img-fluid", alt="多言語での運用")

                        ul.p-list.row
                          li.col-12.col-sm-8.offset-sm-2.col-md-6.offset-md-0
                            .p-list_img
                              img(src="./dist/snsmarketing/common/section06_thumb_01.png", class="img-fluid", alt="鈴鹿サーキット[英語]")
                            .p-list_meta
                              | 鈴鹿サーキット[英語]
                              br
                              | Suzuka Circuit - English
                              br
                              a(href="#")
                                i.fa.fa-link.mr5
                                | https://www.facebook.com/suzuka.circuit.en

                          li.col-12.col-sm-8.offset-sm-2.col-md-6.offset-md-0
                            .p-list_img
                              img(src="./dist/snsmarketing/common/section06_thumb_01.png", class="img-fluid", alt="鈴鹿サーキット[台湾・繁体字]日本鈴鹿賽車場 - Suzuka Circuit")
                            .p-list_meta
                              | 鈴鹿サーキット[台湾・繁体字]
                              br
                              | 日本鈴鹿賽車場 - Suzuka Circuit
                              br
                              a(href="#")
                                i.fa.fa-link.mr5
                                | https://www.facebook.com/suzuka.circuit.tw

                        .c-body__title.text-center
                          picture
                            source(srcset="./dist/snsmarketing/pc/section06_title_03.png", media="(min-width: 768px)")
                            img(src="./dist/snsmarketing/sp/section06_title_03.png", class="img-fluid", alt="＼ 当社におまかせいただくと／")

                        ul.p-list.row
                            li.col-12.col-sm-8.offset-sm-2.col-md-6.offset-md-0
                              .p-list_img
                                img(src="./dist/snsmarketing/common/section06_thumb_01.png", class="img-fluid", alt="＼ 当社におまかせいただくと／")
                              .p-list_meta
                                | 鈴鹿サーキット[英語]
                                br
                                | Suzuka Circuit - English
                                br
                                a(href="#")
                                  i.fa.fa-link.mr5
                                  | https://www.facebook.com/suzuka.circuit.en

                            li.col-12.col-sm-8.offset-sm-2.col-md-6.offset-md-0
                              .p-list_img
                                img(src="./dist/snsmarketing/common/section06_thumb_01.png", class="img-fluid", alt="＼ 当社におまかせいただくと／")
                              .p-list_meta
                                | 鈴鹿サーキット[英語]
                                br
                                | Suzuka Circuit - English
                                br
                                a(href="#")
                                  i.fa.fa-link.mr5
                                  | https://www.facebook.com/suzuka.circuit.en

                .p-section-07
                  .row
                    .col.col-12
                      .c-corner__title
                        h2.text-center
                          picture
                            source(srcset="./dist/snsmarketing/pc/section07_title_01.png", media="(min-width: 768px)")
                            img(src="./dist/snsmarketing/sp/section07_title_01.png", class="img-fluid", alt="ご利用料金")

                    .col-8.offset-2.col-md-12.offset-md-0

                      .row.justify-content-center.align-items-stretch
                        .col-11.col-md-4.c-panel__item
                          .c-panel
                            .c-panel__header
                              img(src="./dist/snsmarketing/common/icon_snss.png", alt="Facebook / Twitter / Instagramの場合")
                              p
                                | Facebook / Twitter / Instagramの場合

                            .c-panel__body
                              figure
                                img(src="./dist/snsmarketing/common/section06_sentence_01.png", alt="初期費用0円 月額10万円")

                            .c-panel__footer
                              ul.list-inline.text-center
                                li.list-inline-item
                                  span.m-btn_option 企画
                                li.list-inline-item
                                  span.m-btn_option ガイドライン策定
                                li.list-inline-item
                                  span.m-btn_option 投稿代行
                                li.list-inline-item
                                  span.m-btn_option DM対応
                                li.list-inline-item
                                  span.m-btn_option レポート



                        .col-11.col-md-4.c-panel__item
                          .c-panel
                            .c-panel__header
                              img(src="./dist/snsmarketing/common/icon_line.png", alt="lineの場合")
                              p
                                | lineの場合

                            .c-panel__body
                              figure
                                img(src="./dist/snsmarketing/common/section06_sentence_02.png", alt="初期費用0円 月額1万円 or 月額5万円")

                            .c-panel__footer
                              p.mb0.text-right
                                <i class="fa fa-chevron-circle-right"></i> 詳しくは
                                a(href="#", target="_blank") こちら

                        .col-11.col-md-4.c-panel__item
                          .c-panel
                            .c-panel__header
                              img(src="./dist/snsmarketing/common/icon_youtube.png", alt="YouTubeの場合")
                              p
                                | YouTubeの場合

                            .c-panel__body
                              figure
                                img(src="./dist/snsmarketing/common/section06_sentence_03.png", alt="初期費用0円 月額10万円")

                              p
                                | ※ご相談ください。

                            .c-panel__footer
                              ul.list-inline.text-center
                                li.list-inline-item
                                  span.m-btn_option 企画
                                li.list-inline-item
                                  span.m-btn_option 動画撮影
                                li.list-inline-item
                                  span.m-btn_option コメント対応
                                li.list-inline-item
                                  span.m-btn_option レポート

                      p.c-txt_warning.text-center
                        | 撮影、翻訳、ローカライズなどは
                        br.d-block.d-md-none
                        | 別途費用で承ります。



                .contactpagouterewrap
                  .row
                    .col.col-12
                      .col-inner
                        section.w-section.s-padding.w-full.contactpagewrap
                          .row
                            .col.col-12
                                .c-corner__title
                                  h2.text-center
                                    | お問い合わせ

                                .c-corner__body.text-center
                                  | まずは、お気軽にお問い合わせください。

                                .w-text-block
                                    #wpcf7-f4-o1.wpcf7(role="form" lang="ja" dir="ltr")
                                      .screen-reader-response
                                      form.wpcf7-form(action="/contact#wpcf7-f4-o1" method="post" novalidate="novalidate" wpcf7c="4" step="1")
                                        div(style="display: none;")
                                          input(type="hidden" name="_wpcf7" value="4")
                                          input(type="hidden" name="_wpcf7c" value="step1")
                                          input(type="hidden" name="_wpcf7_version" value="5.0.5")
                                          input(type="hidden" name="_wpcf7_locale" value="ja")
                                          input(type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4-o1")
                                          input(type="hidden" name="_wpcf7_container_post" value="0")
                                        table.table-contactform7
                                          tbody
                                            tr
                                              th.required
                                                span.title-contactform7 御社名
                                                span.required-contactform7 必須
                                              td
                                                span.wpcf7-form-control-wrap.text-76
                                                  input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required(type="text" name="text-76" value="" size="40" aria-required="true" aria-invalid="false")
                                            tr
                                              th.required
                                                span.title-contactform7 ご担当者名
                                                span.required-contactform7 必須
                                              td
                                                span.wpcf7-form-control-wrap.your-name
                                                  input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required(type="text" name="your-name" value="" size="40" aria-required="true" aria-invalid="false")
                                            tr
                                              th.required
                                                span.title-contactform7 メールアドレス
                                                span.required-contactform7 必須
                                              td.address-100
                                                span.wpcf7-form-control-wrap.your-email
                                                  input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email(type="email" name="your-email" value="" size="40" aria-required="true" aria-invalid="false")
                                            tr
                                              th
                                                span.title-contactform7 電話番号
                                              td
                                                span.wpcf7-form-control-wrap.text-77
                                                  input.wpcf7-form-control.wpcf7-text(type="text" name="text-77" value="" size="40" aria-invalid="false")
                                            tr
                                              th
                                                span.title-contactform7 住所
                                              td
                                                | 〒
                                                span.wpcf7-form-control-wrap.zip
                                                  input#zip.wpcf7-form-control.wpcf7-text.zipcode(type="text" name="zip" value="" size="7" maxlength="7" aria-invalid="false" onkeyup="AjaxZip3.zip2addr(this,'','address','address');")
                                                span.zipattention ※住所自動入力（ハイフンなし）
                                                br
                                                span.wpcf7-form-control-wrap.address
                                                  input#address.wpcf7-form-control.wpcf7-text(type="text" name="address" value="" size="80" aria-invalid="false")
                                                p
                                            tr
                                              th.messagewrap
                                                span.title-contactform7 お問い合わせ内容
                                              td.message-100
                                                span.wpcf7-form-control-wrap.your-message
                                                  textarea.wpcf7-form-control.wpcf7-textarea(name="your-message" cols="40" rows="10" aria-invalid="false")
                                        .col.col-12
                                          .col-inner
                                            .col.col-10.offset-1.col-lg-10.offset-lg-1.col-md-12.offset-md-0.text-center.table-contactform7-submit
                                              button.wpcf7-form-control.wpcf7-submit.wpcf7c-elm-step2.wpcf7c-force-hide(type="submit")
                                                img(src="./dist/snsmarketing/common/btn_send.png", alt="送信する")
                                              span.ajax-loader
                                            .col.col-1.hidden-md.hidden-sm.hidden-xs
                                              .col-inner
                                              p
                                            p
                                        .wpcf7-response-output.wpcf7-display-none
                                .col.col-1.hidden-md.hidden-sm.hidden-xs
                                  .col-inner  


      footer#footer(style="position:relative;display:block;")
        #footer-content
          section.w-section.w-text-light.s-padding(style="background-color:#2f3136")
            .row.footerwidget
              .col.col-4
                .col-inner
                  .w-heading.heading-10.text-left
                    .w-wrapper
                      h2
                        span コンテンツ
                  .w-text-block
                    ul
                      li
                        a(href="https://www.base-net.co.jp/topics") News&Release一覧へ
                      li
                        a(href="https://www.base-net.co.jp/category/blog") Blog一覧へ
              .col.col-4
                .col-inner
                  .w-heading.heading-10.text-left
                    .w-wrapper
                      h2
                        span ソリューション
                  .w-text-block
                    ul
                      li
                        a(href="https://www.base-net.co.jp/websupport") ウェブ運用サポート
                      li
                        a(href="https://www.base-net.co.jp/linesupport") LINE@運用サポート
                      li
                        a(href="http://www.sumake.net/" target="_blank") LINE@でセグメント配信はスマケ！
                      li
                        a(href="http://bridal-kensaku.com/" target="_blank") ラブマリ
              .col.col-4
                .col-inner
                  .w-heading.heading-10.text-left
                    .w-wrapper
                      h2
                        span お問い合わせ
                  .w-text-block
                    ul
                      li
                        a(href="https://www.base-net.co.jp/contact") お問い合わせ
            .row.footerwidget
              .col.col-4
                .col-inner
                  .w-heading.heading-10.text-left
                    .w-wrapper
                      h2
                        span 制作実績
                  .w-text-block
                    ul
                      li
                        a(href="https://www.base-net.co.jp/foliocategory/web") WEB制作
                      li
                        a(href="https://www.base-net.co.jp/foliocategory/graphic") グラフィック制作
                      li
                        a(href="https://www.base-net.co.jp/foliocategory/advertisement") 広告
              .col.col-4
                .col-inner
                  .w-heading.heading-10.text-left
                    .w-wrapper
                      h2
                        span 会社案内
                  .w-text-block
                    ul
                      li
                        a(href="https://www.base-net.co.jp/company") 会社概要
                      li
                        a(href="https://www.base-net.co.jp/business") 事業内容
              .col.col-4
                .col-inner
                  .w-heading.heading-10.text-left
                    .w-wrapper
                      h2
                        span その他
                  .w-text-block
                    ul
                      li
                        a(href="https://www.base-net.co.jp/privacypolicy") プライバシーポリシー

        // #footer-content
        #footer-bottom.footer-v2
          .container(style="border-top:solid 2px #54575d;")
            .w-space(style="height:30px")
            .col-12.text-center
              span#footer-logo
                a(href="https://www.base-net.co.jp")
                  img.dark-logo(src="https://www.base-net.co.jp/wp/wp-content/themes/baseone/assets/snsmarketing/logo/logo.svg" alt="ベイス" width="120" height="50")
          .container
            .col-12.footercontact
              .col.col-6.col-lg-10.col-md-12.footerphone
                .col-inner
                  a(href="tel:0593553939")
                    img(src="https://www.base-net.co.jp/wp/wp-content/uploads/2017/07/phone.svg" alt="")
              .col.col-6.col-lg-10.col-md-12.footermail
                .col-inner
                  a(href="mailto:info@base-net.co.jp")
                    img(src="https://www.base-net.co.jp/wp/wp-content/uploads/2017/07/mail.svg" alt="")
          .container.footeraddressouterwrap
            .col.col-12.footeraddresswrap
              #footer-text.footeraddress
                p
                  | 〒510-0061
                  span 三重県四日市市朝日町3-2 プラザ1986 3F
                  span.adrmap
                    a(href="https://goo.gl/maps/kXWn6gHyaxz" target="_blank") MAP
                p
                  | 〒450-0002
                  span 愛知県名古屋市中村区名駅5丁目3-21 いとうビル4階
                  span.adrmap
                    a(href="https://goo.gl/maps/iH5XY8ikiZy" target="_blank") MAP
              #footer-text.footercopyright
                | ©
                script(type="text/javascript").
                  myDate = new Date();myYear = myDate.getFullYear();document.write(myYear);
                | 2019 BASE Co.,Ltd. All Right Reserved.